/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.4.0
* Docs at http://davidtheclark.github.io/scut
*/
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Open+Sans:400,600,700&subset=cyrillic,latin);
@font-face {
  font-family: "Irmologion Ucs";
  src: url(/files/fonts/IrmUcs.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

.footer {
  background: rgba(0, 0, 0, 0.5);
  display: block;
  flex: 0 0 4.25rem;
  position: relative;
  width: 100%;
  z-index: 9; }

.footer__block {
  color: rgba(255, 255, 255, 0.7);
  display: block;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  height: 3rem;
  margin-bottom: 0.625rem;
  margin-right: 1.5625rem;
  margin-top: 0.625rem;
  padding-left: 2.5rem;
  padding-top: 0.3125rem;
  vertical-align: top; }
  .footer__block.footer__block_pl_big {
    padding-left: 4.625rem; }
  .footer__block.footer__block_pin:before {
    background: url(/files/pin.png) 0 0 no-repeat;
    background-size: cover;
    content: '';
    display: block;
    float: left;
    height: 1.625rem;
    margin-right: 0.3125rem;
    margin-top: -0.3125rem;
    vertical-align: top;
    width: 1.25rem; }
  .footer__block.footer__block_bl {
    border-left: rgba(255, 255, 255, 0.2) solid 1px;
    padding-left: 1.5625rem; }
  .footer__block.footer__block_float_right {
    float: right;
    padding-right: 0.9375rem;
    text-align: right; }
  .footer__block span {
    font-size: 1.0625rem; }
  .footer__block a {
    color: rgba(255, 255, 255, 0.7); }

.footer-menu {
  background: rgba(0, 0, 0, 0.5);
  display: block;
  height: 3.125rem;
  left: 50%;
  line-height: 3.125rem;
  margin: 0 0 0 -17.1875rem;
  padding: 0;
  position: absolute;
  top: -3.125rem;
  white-space: nowrap;
  width: 34.375rem; }
  .footer-menu:after {
    content: "";
    display: table;
    clear: both; }

.footer-menu__item {
  display: block;
  float: left;
  margin: 0;
  padding: 0 0.9375rem;
  white-space: nowrap; }

.footer-menu__link {
  border-bottom: rgba(255, 255, 255, 0.2) solid 1px;
  color: #fff;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.25rem;
  text-decoration: none; }

.logo {
  background: url(/files/logo.png) 0 0 no-repeat;
  background-size: cover;
  display: block;
  height: 6.1875rem;
  left: 4.625rem;
  position: absolute;
  text-indent: -10000px;
  top: 6.75rem;
  width: 13.0625rem; }

.logo_invert {
  background: url(/files/logo-invert.png) 0 0 no-repeat;
  background-size: cover;
  left: auto;
  position: relative;
  top: auto; }

.news {
  background: #fff url(/files/scroll-shadow.png) 0 0 no-repeat;
  background-size: 18.125rem 3.4375rem;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  bottom: 8.125rem;
  display: block;
  height: 15.625rem;
  position: absolute;
  right: 2.5rem;
  width: 18.125rem; }
  .news:before {
    background: url(/files/scroll.png) 0 0 no-repeat;
    background-size: cover;
    content: '';
    height: 3.75rem;
    left: -1.25rem;
    position: absolute;
    top: -3.75rem;
    width: 20.5625rem; }

.news__list {
  height: 9.375rem;
  list-style: none;
  margin: 1.25rem;
  padding: 0;
  overflow: hidden; }

.news__item {
  margin-bottom: 1.25rem; }

.news__date {
  color: #000;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  margin-bottom: 0.4375rem;
  text-decoration: none; }

.news__link {
  color: #655b5b;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.4375rem;
  line-height: 1.75rem;
  text-decoration: underline; }
  .news__link:hover {
    color: #d22d31; }

.news__header {
  color: #000;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1.5625rem 1.25rem; }
  .news__header a {
    border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
    color: #655b5b;
    float: right;
    text-decoration: none; }

.side-menu {
  background: #f3f3f3 url(/files/shadow.png) 0 0 repeat-x;
  display: block;
  flex: 0 1 20.625rem;
  margin: 0;
  padding: 3.125rem 3.125rem 3.125rem 4.375rem; }

.side-menu__list {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.375rem;
  line-height: 3.125rem;
  list-style: none;
  margin: 1.5625rem 0 0;
  padding: 0; }

.side-menu__link {
  color: #655b5b;
  position: relative;
  text-decoration: none; }

.side-menu__link_to-main {
  display: block;
  padding-top: 1.25rem; }
  .side-menu__link_to-main:before {
    background: url(/files/church.png) 0 0 no-repeat;
    background-size: cover;
    content: '';
    height: 2.625rem;
    left: -3.125rem;
    position: absolute;
    top: 0.625rem;
    width: 1.75rem; }

.side-menu__link_active {
  border: rgba(101, 91, 91, 0.5) solid 1px;
  border-radius: 1.25rem;
  margin: -0.625rem;
  padding: 0.625rem; }

.slide {
  background: url("/files/bg-main.jpg") center 0;
  background-size: cover;
  bottom: 0;
  display: block;
  left: 0;
  min-width: 1200px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1; }

.sub-menu {
  background: #fff;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
  display: none;
  left: -0.75rem;
  list-style: none;
  margin: 0;
  padding: 0 0 0.625rem;
  position: absolute;
  top: 3.5rem; }

.sub-menu_state_open {
  display: block; }

.sub-menu__item {
  color: #655b5b;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.1875rem;
  margin: 0;
  position: relative; }
  .sub-menu__item a {
    color: #655b5b;
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3.125rem;
    text-decoration: none;
    width: 100%; }
    .sub-menu__item a:hover {
      background: #ece5db; }

.sub-menu__item_title {
  border-top: rgba(0, 0, 0, 0.1) solid 1px;
  font-size: 1.375rem;
  height: 3.125rem;
  line-height: 3.125rem;
  padding: 0 1.875rem; }
  .sub-menu__item_title:first-child {
    border-top: none; }

.text h1 {
  clear: both;
  color: #515151;
  font-family: "Irmologion Ucs", sans-serif;
  font-size: 4rem;
  line-height: 4rem;
  margin-top: 2.5rem; }
  .text h1:first-child {
    margin-top: 0; }

.text p {
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.25rem; }

.text .float-left {
  float: left;
  margin-right: 2.5rem; }

.text .float-right {
  float: right;
  margin-left: 2.5rem; }

.top-menu {
  background: #fff;
  display: block;
  flex: 0 0 4.25rem;
  width: 100%;
  z-index: 10; }
  .top-menu:after {
    content: "";
    display: table;
    clear: both; }

.top-menu__hamburger {
  background: #f2ede2;
  float: left;
  height: 4.25rem;
  position: relative;
  width: 4.625rem; }
  .top-menu__hamburger:before {
    background: url(/files/hamburger.png) center center no-repeat;
    background-size: 2rem 1.375rem;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }

.top-menu__list {
  margin: 0;
  padding: 0; }

.top-menu__item {
  display: block;
  float: left;
  font-family: "PT Sans Narrow";
  font-size: 1.375rem;
  line-height: 2.75rem;
  margin: 0.75rem 0 0.75rem 0;
  padding: 0 1.25rem;
  position: relative;
  white-space: nowrap; }
  .top-menu__item:first-child {
    margin-left: 1.875rem; }

.top-menu__item_active {
  background: #c7ac7a;
  border-radius: 1.25rem; }

.top-menu__link {
  color: #665c5c;
  border-bottom: #cccccc solid 1px;
  height: 2.5rem;
  padding: 0 0 0.25rem;
  text-decoration: none; }
  .top-menu__link:hover {
    color: #d85255; }
  .top-menu__item_active .top-menu__link {
    border-bottom: none;
    color: #fff; }

html, body {
  font-size: 16px;
  height: 100%;
  margin: 0;
  min-width: 1200px;
  padding: 0;
  /* Portrait */
  /* Landscape */ }
  @media only screen and (max-width: 1440px) {
    html, body {
      font-size: 0.8125rem; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    html, body {
      font-size: 0.625rem; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    html, body {
      font-size: 0.6875rem; } }

html * {
  box-sizing: border-box; }

body {
  background: #fff;
  height: 100%;
  position: relative;
  width: 100%; }

.container {
  display: flex;
  flex-flow: column wrap;
  min-height: 100%;
  position: relative;
  z-index: 2; }

.wrap {
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  min-height: calc(100% - 8.5rem);
  width: 100%;
  z-index: 8; }

.content {
  background: #fff url(/files/shadow.png) 0 0 repeat-x;
  flex: 1;
  padding: 1.25rem 3.125rem; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }
