.footer {
    background: rgba(0,0,0,0.5);
    display: block;
    flex: 0 0 scut-rem(68);
    position: relative;
    width: 100%;
    z-index: 9;
}
    .footer__block {
        color: rgba(255,255,255,0.7);
        display: block;
        float: left;
        font-family: "Open Sans", sans-serif;
        font-size: scut-rem(14);
        font-weight: 600;
        height: scut-rem(48);
        margin-bottom: scut-rem(10);
        margin-right: scut-rem(25);
        margin-top: scut-rem(10);
        padding-left: scut-rem(40);
        padding-top: scut-rem(5);
        vertical-align: top;
        &.footer__block_pl_big {
            padding-left: scut-rem(74);
        }
        &.footer__block_pin {
            &:before {
                background: url(/files/pin.png) 0 0 no-repeat;
                background-size: cover;
                content: '';
                display: block;
                float: left;
                height: scut-rem(26);
                margin-right: scut-rem(5);
                margin-top: scut-rem(-5);
                vertical-align: top;
                width: scut-rem(20);
            }
        }
        &.footer__block_bl {
            border-left: rgba(255,255,255,0.2) solid 1px;
            padding-left: scut-rem(25);
        }
        &.footer__block_float_right {
            float: right;
            padding-right: scut-rem(15);
            text-align: right;
        }
        span {
            font-size: scut-rem(17);
        }
        a {
            color: rgba(255,255,255,0.7);
        }
    }
    .footer-menu {
        background: rgba(0,0,0,0.5);
        display: block;
        height: scut-rem(50);
        left: 50%;
        line-height: scut-rem(50);
        margin: 0 0 0 scut-rem(-275);
        padding: 0;
        position: absolute;
        top: scut-rem(-50);
        white-space: nowrap;
        width: scut-rem(550);
        @include scut-clearfix;
    }
        .footer-menu__item {
            display: block;
            float: left;
            margin: 0;
            padding: 0 scut-rem(15);
            white-space: nowrap;
        }
            .footer-menu__link {
                border-bottom: rgba(255,255,255,.2) solid 1px;
                color: #fff;
                font-family: "PT Sans Narrow", sans-serif;
                font-size: scut-rem(20);
                text-decoration: none;
            }