.logo {
    background: url(/files/logo.png) 0 0 no-repeat;
    background-size: cover;
    display: block;
    height: scut-rem(99);
    left: scut-rem(74);
    position: absolute;
    text-indent: -10000px;
    top: scut-rem(108);
    width: scut-rem(209);
}
.logo_invert {
    background: url(/files/logo-invert.png) 0 0 no-repeat;
    background-size: cover;
    left: auto;
    position: relative;
    top: auto;
}