.news {
    background: #fff url(/files/scroll-shadow.png) 0 0 no-repeat;
    background-size: scut-rem(290) scut-rem(55);
    border-bottom-left-radius: scut-rem(10);
    border-bottom-right-radius: scut-rem(10);
    bottom: scut-rem(130);
    display: block;
    height: scut-rem(250);
    position: absolute;
    right: scut-rem(40);
    width: scut-rem(290);
    &:before {
        background: url(/files/scroll.png) 0 0 no-repeat;
        background-size: cover;
        content: '';
        height: scut-rem(60);
        left: scut-rem(-20);
        position: absolute;
        top: scut-rem(-60);
        width: scut-rem(329);
    }
}
    .news__list {
        height: scut-rem(150);
        list-style: none;
        margin: scut-rem(20);
        padding: 0;
        overflow: hidden;
    }
        .news__item {
            margin-bottom: scut-rem(20);
        }
            .news__date {
                color: #000;
                display: block;
                font-family: "Open Sans", sans-serif;
                font-size: scut-rem(13);
                font-weight: 600;
                margin-bottom: scut-rem(7);
                text-decoration: none;
            }
            .news__link {
                color: #655b5b;
                font-family: "PT Sans Narrow", sans-serif;
                font-size: scut-rem(23);
                line-height: scut-rem(28);
                text-decoration: underline;
                &:hover {
                    color: #d22d31;
                }
            }
    .news__header {
        color: #000;
        font-family: "PT Sans Narrow", sans-serif;
        font-size: scut-rem(20);
        font-weight: 700;
        margin: scut-rem(25) scut-rem(20);
        a {
            border-bottom: rgba(0,0,0,0.1) solid 1px;
            color: #655b5b;
            float: right;
            text-decoration: none;
        }
    }