.side-menu {
    background: #f3f3f3 url(/files/shadow.png) 0 0 repeat-x;
    display: block;
    flex: 0 1 #{scut-rem(330)};
    margin: 0;
    padding: scut-rem(50) scut-rem(50) scut-rem(50) scut-rem(70);
}
    .side-menu__list {
        font-family: "PT Sans Narrow", sans-serif;
        font-size: scut-rem(22);
        line-height: scut-rem(50);
        list-style: none;
        margin: scut-rem(25) 0 0;
        padding: 0;
    }
        .side-menu__link {
            color: #655b5b;
            position: relative;
            text-decoration: none;
        }
        .side-menu__link_to-main {
            display: block;
            padding-top: scut-rem(20);
            &:before {
                background: url(/files/church.png) 0 0 no-repeat;
                background-size: cover;
                content: '';
                height: scut-rem(42);
                left: scut-rem(-50);
                position: absolute;
                top: scut-rem(10);
                width: scut-rem(28);
            }
        }
        .side-menu__link_active {
            border: rgba(101, 91, 91, 0.5) solid 1px;
            border-radius: scut-rem(20);
            margin: scut-rem(-10);
            padding: scut-rem(10);
        }