.slide {
    background: url('/files/bg-main.jpg') center 0;
    background-size: cover;
    bottom: 0;
    display: block;
    left: 0;
    min-width: 1200px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}