.sub-menu {
    background: #fff;
    border-bottom-left-radius: scut-rem(10);
    border-bottom-right-radius: scut-rem(10);
    box-shadow: 0 2px 3px 1px rgba(0,0,0,.1);
    display: none;
    left: scut-rem(-12);
    list-style: none;
    margin: 0;
    padding: 0 0 scut-rem(10);
    position: absolute;
    top: scut-rem(56);
}
.sub-menu_state_open {
    display: block;
}
    .sub-menu__item {
        color: #655b5b;
        font-family: "PT Sans Narrow", sans-serif;
        font-size: scut-rem(19);
        margin: 0;
        position: relative;
        a {
            color: #655b5b;
            display: block;
            height: scut-rem(40);
            line-height: scut-rem(40);
            padding: 0 scut-rem(50);
            text-decoration: none;
            width: 100%;
            &:hover {
                background: #ece5db;
            }
        }
    }
    .sub-menu__item_title {
        border-top: rgba(0,0,0,0.1) solid 1px;
        font-size: scut-rem(22);
        height: scut-rem(50);
        line-height: scut-rem(50);
        padding: 0 scut-rem(30);
        &:first-child {
            border-top: none;
        }
    }
