.text {
    h1 {
        clear: both;
        color: #515151;
        font-family: "Irmologion Ucs", sans-serif;
        font-size: scut-rem(64);
        line-height: scut-rem(64);
        margin-top: scut-rem(40);
        &:first-child {
            margin-top: 0;
        }
    }
    p {
        color: #000;
        font-family: Arial, sans-serif;
        font-size: scut-rem(16);
        line-height: scut-rem(24);
        margin-bottom: scut-rem(20);
    }

    .float-left {
        float: left;
        margin-right: scut-rem(40);
    }
    .float-right {
        float: right;
        margin-left: scut-rem(40);
    }
}