.top-menu {
    background: #fff;
    display: block;
    flex: 0 0 scut-rem(68);
    width: 100%;
    z-index: 10;
    @include scut-clearfix;
}
    .top-menu__hamburger {
        background: #f2ede2;
        float: left;
        height: scut-rem(68);
        position: relative;
        width: scut-rem(74);
        &:before {
            background: url(/files/hamburger.png) center center no-repeat;
            background-size: scut-rem(32) scut-rem(22);
            bottom: 0;
            content: '';
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .top-menu__list {
        margin: 0;
        padding: 0;
    }
        .top-menu__item {
            display: block;
            float: left;
            font-family: "PT Sans Narrow";
            font-size: scut-rem(22);
            line-height: scut-rem(44);
            margin: scut-rem(12) 0 scut-rem(12) 0;
            padding: 0 scut-rem(20);
            position: relative;
            white-space: nowrap;
            &:first-child {
                margin-left: scut-rem(30);
            }
        }
        .top-menu__item_active {
            background: #c7ac7a;
            border-radius: scut-rem(20);
        }
            .top-menu__link {
                color: #665c5c;
                border-bottom: #cccccc solid 1px;
                height: scut-rem(40);
                padding: 0 0 scut-rem(4);
                text-decoration: none;
                &:hover {
                    color: #d85255;
                }
                .top-menu__item_active & {
                    border-bottom: none;
                    color: #fff;
                }
            }