@import "../../bower_components/Scut/dist/scut";

@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Open+Sans:400,600,700&subset=cyrillic,latin);

@font-face {
    font-family: "Irmologion Ucs";
    src:
        url(/files/fonts/IrmUcs.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@import "footer";
@import "logo";
@import "news";
@import "side-menu";
@import "slide";
@import "sub-menu";
@import "text";
@import "top-menu";


html, body {
    font-size: 16px;
    height: 100%;
    margin: 0;
    min-width: 1200px;
    padding: 0;
    @media only screen and (max-width: 1440px) {
        font-size: scut-rem(13);
    }
    /* Portrait */
    @media only screen
            and (min-device-width: 768px)
            and (max-device-width: 1024px)
            and (orientation: portrait)
            and (-webkit-min-device-pixel-ratio: 1) {
        font-size: scut-rem(10);
    }

    /* Landscape */
    @media only screen
            and (min-device-width: 768px)
            and (max-device-width: 1024px)
            and (orientation: landscape)
            and (-webkit-min-device-pixel-ratio: 1) {
        font-size: scut-rem(11);
    }
}
html * {
    box-sizing: border-box;
}
body {
    background: #fff;
    height: 100%;
    position: relative;
    width: 100%;
}

.container {
    display: flex;
    flex-flow: column wrap;
    min-height: 100%;
    position: relative;
    z-index: 2;
}
    .wrap {
        align-self: stretch;
        display: flex;
        flex: 1;
        flex-flow: row nowrap;
        min-height: calc(100% - #{scut-rem(136)});
        width: 100%;
        z-index: 8;
    }
        .content {
            background: #fff url(/files/shadow.png) 0 0 repeat-x;
            flex: 1;
            padding: scut-rem(20) scut-rem(50);
        }

.clearfix {
    @include scut-clearfix;
}